.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    color: #f8a7ae;
}
.dialogsItems a {
    color: #000000;
}
.dialogsItems a:hover {
    color: #f8a7ae;
}
.active {
    color: #f8a7ae;
}